
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.pdb
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.dll
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.pdb
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.dll
AdventOfCode2019/.vs/AdventOfCode2019/v16/.suo
AdventOfCode2019/.vs/AdventOfCode2019/v16/Server/sqlite3/storage.ide
AdventOfCode2019/.vs/AdventOfCode2019/v16/Server/sqlite3/storage.ide-shm
AdventOfCode2019/.vs/AdventOfCode2019/v16/Server/sqlite3/storage.ide-wal
AdventOfCode2019/bin/Debug/netcoreapp2.2/AdventOfCode2019.dll
AdventOfCode2019/bin/Debug/netcoreapp2.2/AdventOfCode2019.pdb
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.csprojAssemblyReference.cache
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.dll
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.pdb
