
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.pdb
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.dll
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.pdb
AdventOfCode2019/obj/Debug/netcoreapp2.2/AdventOfCode2019.dll
